/* ----- Tablets Media ----- */

@media (width < 1024px) {
    .container-servicios {
        width: auto;
        @include flex-align(column,center);
        background-color: $darkGrey;
        overflow: hidden;
        height: auto;
    }

    .containerimg {
        width: auto;
        overflow: hidden;
        height: 500px;
    }

    .container-content-servicios {
        margin: 15% 7% 15% 7%;
        padding: 0 10% 0 10%;
        width: auto;
    }
    
    .container-menu-buttons {
        padding: 3% 0% 2% 3%;
        @include flex-1(start,center);
        overflow-x: auto;
    }

        .text-header {
            font-size: 5em !important;
        }

        .container-100 {
            margin: 15% 7% 15% 7%;
        }

        .iconsfooter {
            margin-top: 10px;
        }

        .container-header-pages {
            margin: 5% 10% 4% 10%;
        }

        .container-header-pages h1 {
            font-size: 1.8em;
            margin-top: 20px;
            margin-bottom: 0px;
        }

        .text-p1{
            font-size: 1.2em;
        }

        .buttons-burguer{
            text-align: center;
            @include flex-1(center,center);
        }
        
        .buttons-burguer a{
            border-bottom: 1px solid $darkRed;
            width: 350px;
            margin-bottom: 15px;
        }

        .container-menu {
            margin: 0 5% !important;
        }

        .container-header-pages a{
            text-decoration: none;
            color: $darkGrey;
            font-weight: $TxtBold;
            font-family: $MainFont;
            font-size: $txtXXS;
        }

        .container-form{
            margin: 4% 0 7% 0;
        }

        .container-contact {
            width: auto;
            @include flex-dire(column,space-evenly,center);
            height: auto;
            background-color: $darkGrey;
        }
}

/* ----- Mobile Medias ----- */

@media (width < 430px) {
    .container-servicios {
        width: auto;
        @include flex-align(column,center);
        background-color: $darkGrey;
        overflow: hidden;
        height: auto;
    }

    .containerimg {
        width: auto;
        overflow: hidden;
        height: auto;
    }

    .containerimg img{
        width: 550px;
        height: auto;
    }

    .container-content-servicios {
        margin: 20% 7% 20% 7%;
        padding: 0 10% 0 10%;
        width: auto;
    }
    
    .container-header img { 
        position: relative;
        @include flex-1(center,center);
        }

    .container-100{
        padding: 0 10% 0 10%;
        margin: 25% 7% 25% 7%;
    }    

        .text-header {
            font-size: 4em !important;
            margin: 20% 0 0 10% !important;
        }

        .text-h2 {
            font-size: 2em;
        }

        .text-p1{
            font-size: 1.2em;
        }

        footer {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px 30px 30px 30px;
        }

        footer div {
            margin-top: 20px;
        }

        footer div ul {
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0px;
        }
        footer ul li a {
            margin-right: 0px;
        }

        footer ul li {
            margin-top: 10px;
        }

        footer p{
            margin-right: 0px;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        .container-header-img-pages {
            height: 150px;
        }

        .container-header-pages p {
            margin-top: 0px;
        }
        
        .container-header-pages h1 {
            font-size: 1.8em;
            margin-top: 20px;
            margin-bottom: 0px;
        }

        .container-header-pages {
            margin: 5% 10% 4% 10%;
        }

    .container-menu-buttons {
        padding: 5% 0% 3% 3%;
        @include flex-1(start,center);
        overflow-x: auto;
    }

    .iconsfooter {
        margin-top: 10px;
    }

    .buttons-burguer{
        text-align: center;
        @include flex-1(center,center);
    }
    
    .buttons-burguer a{
        border-bottom: 1px solid $darkRed;
        width: 350px;
        margin-bottom: 15px;
    }
}

@media (width < 1280px) {
    .container-menu {
        margin: 0 7%;
    }
}