//site web colors
$bgColor:#292929;
$mainColor: #480101;
$txtColor: #EFE0C0;
$txtSecond: #cbb27c;
$blackColor: #000000;
$WhiteColor: #FFFFFF;
$darkGrey: #111111;
$darkRed:#2b0000;

//Fonts Site
$MainFont: 'Butler', serif;

//weight fonts
$TxtReg: 200;
$TxtMed: 400;
$TxtBold: 600;

// Text sizes
$txtXXS:1em;
$txtXS:1.2em;
$txtS:1.5em;
$txtM:2em;
$txtL:2.5em;
$txtXL:3em;
$txtXXL:4em;
$txtXXXL:5em;
$txtGiant:6em;

// Text sizes
$txtLeft: left;
$txtCenter: center;
$txtRight: right;
